vti_encoding:SR|utf8-nl
http\://www.correios.com.br/servicos/cep/resultado_log.cfm:busca_cep.htm
http\://www.correios.com.br/servicos/cep/dne.cfm:busca_cep.htm
mailto\:lekaeventos@bol.com.br:boletins/bi092004.doc boletins/bi062004.doc boletins/bi082004.doc boletins/bi072004.doc boletins/bi102004.doc
/d\:/meus documentos/minhas webs/minhas figuras/imagens e fotos/familia/digitalizadas/família no velhos tempos.jpg:boletins/bi102004.doc
http\://www.sbt.com.br/setemeio:programa.htm
/tools/count.cgi:boletins/bi032005.htm index.html boletins/bi062005.htm boletins/bi052005.htm boletins/bi042005.htm
mailto\:drmarcosalves@hotmail.com:lena.htm index.html boletins/bi062005.htm boletins/bi052005.htm boletins/bi042005.htm
mailto\:de_alves@yahoo.com.br:boletins/bi072005.htm
http\://www.drma.hpg.com.br:boletins/bi022005.htm
http\://groups.msn.com/familiatorresalves/_whatsnew.msnw:boletins/bi032005.htm
http\://groups.msn.com/familiatorresalves/lbumdavlourdes.msnw:boletins/bi042005.htm
http\://www.correios.com.br/images/cep/dne_azul_p.gif:busca_cep.htm
/d\:/meus documentos/minhas webs/minhas figuras/imagens e fotos/familia/lena documentos/blog jucemara/rosa[1].gif:boletins/bi102004.doc
http\://www.correios.com.br/images/cep/busca_horizontal.gif:busca_cep.htm
