vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|16 Mar 2005 03:57:02 -0000
vti_extenderversion:SR|4.0.2.2717
vti_cacheddtm:TX|16 Mar 2005 03:57:02 -0000
vti_filesize:IR|6949
vti_cachedlinkinfo:VX|
vti_cachedsvcrellinks:VX|
vti_cachedhasbots:BR|false
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_backlinkinfo:VX|
vti_syncwith_ftp.planeta.terra.com.br\:21:TX|16 Mar 2005 03:57:02 -0000
vti_syncofs_ftp.planeta.terra.com.br\:21:TW|18 Mar 2005 00:23:00 -0000
vti_syncwith_ftp.hpg.com.br\:21:TX|16 Mar 2005 03:57:02 -0000
vti_syncofs_ftp.hpg.com.br\:21:TW|22 Mar 2005 01:04:00 -0000
